/* RegistrationForm.css */

.registration-form {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 90%;
    margin: 20px auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    box-sizing: border-box;
    transition: opacity 0.3s ease;
}

.registration-form.blurred {
    opacity: 0.5;
}

.registration-form h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.registration-form form {
    display: flex;
    flex-direction: column;
}

.registration-form label {
    margin-bottom: 15px;
}

.registration-form input,
.registration-form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.registration-form button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.registration-form button:hover {
    background-color: #45a049;
}


/* Popup Styles */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: lightgreen;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    width: 100%;
    box-sizing: border-box;
    color: #4caf50;
}

.popup-content p {
    font-size: 18px;
    color: black;
}


/* Media Queries for Responsive Design */


/* Tablets and smaller devices */

@media (max-width: 768px) {
    .registration-form {
        padding: 15px;
        width: 100%;
    }
    .registration-form h3 {
        font-size: 20px;
    }
    .registration-form button {
        font-size: 14px;
        padding: 8px 16px;
    }
}


/* Mobile devices */

@media (max-width: 480px) {
    .registration-form {
        padding: 10px;
        width: 100%;
    }
    .registration-form h3 {
        font-size: 18px;
    }
    .registration-form button {
        font-size: 12px;
        padding: 6px 12px;
    }
}


/* Extra small mobile devices (portrait phones, less than 320px) */

@media (max-width: 320px) {
    .registration-form {
        padding: 8px;
    }
    .registration-form h3 {
        font-size: 16px;
    }
    .registration-form button {
        font-size: 10px;
        padding: 4px 8px;
    }
}